*.pm6bak
LastBuildResults
LastBuildResults.*
*.bak
*.iml
*.bump
*~
test-new
t/DemoLargeLine.pm6
t/004-large-items.t
.precomp/
.test/
.idea/
.touch/
.idea/
.precomp/
dead/
examples/
*.ipynb
jupyter.log
c-helpers/time
core
*.imp-bak
*.ref-bak
BuildList
